body {
	font-family: 'Exo', sans-serif;
}

/* Banner Styling */
.banner {
	background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("images/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 50px;
	overflow: hidden;
}

/* ---- Navbar Styling ---- */

/* Navbar */
.navbar-inverse {
	min-height: 100px;
	border: 0px;
	background: rgba(0, 0, 0, 0.2);
	line-height: 110px;
}

/* Links of the navbar */
.navbar-inverse .navbar-nav>li>a {
    color: #F3F3F3;
    font-size: 20px;
}

@media (max-width: 768px) {
	.transparent {
	   background: transparent;
	   border-color: transparent;
	}
}

/* Collapsed toggle styling */ 
.navbar-toggle {
	padding-bottom: 8px;
	border: 0px;
}

.navbar-toggle .icon-bar {
	width: 30px;
	height: 5px;
	margin: 2px 0;
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 5px;
}

/* Center elements to the navbar */
.navbar-nav {
	width: 100%;
	text-align: center;
}

@media (min-width: 768px) {
	.navbar-nav > li {
		float: none;
		display: inline-block;
	}
}

/* ---- Hover effect of Nav links ---- */
.nav-hover a::before,
.nav-hover a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.nav-hover a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
	color: #FFEF00;
    font-size: 25px;
}

.nav-hover a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
	color: #FFEF00;
    font-size: 25px;
}

.nav-hover a:hover::before,
.nav-hover a:hover::after,
.nav-hover a:focus::before,
.nav-hover a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

/* ---- Banner Styling ---- */
.banner-img {
	max-height: 300px;
	margin-left: auto;
	margin-right: auto;
}

/* The position of the text changes from mobile to desktop. From Up to down, to left to right */
@media (min-width: 768px) {
	.banner-img {
		float: right;
		padding-right: 30px;
		border-right: solid rgba(200, 200, 200, 0.5);
	}
}

.btn-resume {
	background-color: rgba(255, 153, 51, 0.8);
	color: white;
	font-size: 18px;
	text-indent: 0px;
	padding: 10px;
}

.banner-text {
	text-indent: 20px;
	font-size: 20px;
	text-shadow: 1px 1px #959595;
	color: #F3F3F3;
}

@media (min-width: 768px) {
	.banner-text {
		margin-right: 10%;
	}
}

/* Changes the alignment to fit better on mobile */
@media (max-width: 768px) {
	.banner-text {
		text-indent: 0px;
		text-align: center;
	}
}

.text-big {
	font-size: 60px;
	text-shadow: 2px 2px #959595;
}

.text-md {
	font-size: 30px;
	text-shadow: 2px 2px #959595;
}

/* ---- Skills Boxes Styling ---- */
.skills {
	margin: 40px 15px;
}

@media (min-width: 768px) {
	.skills {
		margin: 50px 10%;
	}
}

@media (min-width: 970px) {
	.skills {
		margin: 50px 15%;
	}
}

/* Center text on the boxes, and style the borders */
.skill-box {
	text-align: center;
	border: 1px;
	border-style: solid;
	padding: 20px 0 0;
	font-size: 20px;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
}

.skill-box p {
	margin: 5px 15px;
}

.sb-top-icon {
	width: 80px;
}

/* Style the button that expand the skill boxes */
.sb-btn-toggle {
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 0px;
	margin-top: 20px;
	color: black;
}

.sb-btn-toggle .glyphicon-arrow-up {
	display: none;
}

/* Skill boxes text styling */
.skill-box .sb-text {
	text-align: left;
	margin: 0px;
	padding: 15px;
	display: none;
	background-color: rgba(0, 0, 0, 0.05);
}

.text-right {
	float: right;
}

.inline {
	display: inline;
}